body {
    font-size: 20px;
    margin: 0;
    font-family: sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    background: saddlebrown;
    padding: 20px;
}

.error {
    padding: 20px;
    text-align: center;
}

#header nav a {
    color: white;
    text-transform: uppercase;
    padding: 20px;
    text-decoration: none;
}

.memory {

}
